.env
# Ignore system files
.DS_Store
.Trash/
.CFUserTextEncoding
.viminfo
.zsh_history
.zsh_sessions/
.zshrc

# Ignore hidden directories
.config/
.ipython/
.jupyter/
.streamlit/
.vscode/
.keras/
.python_history
.pyenv/
.idlerc/

# Ignore application files
*.app
*.zip
*.png

# Ignore documents and other unrelated files
*.docx
*.pdf
Documents/
Downloads/
Movies/
Music/
Pictures/
Public/
Sites/

# Ignore other unrelated directories
~/Creative\ Cloud\ Files/
~/Zot
